.calculator {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 500px;
}

p {
    padding-top: 20px;
    margin: 0;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
}

.inner-div {
    height: 80px;
    width: 120px;
    margin: 2px;
    background-color: #096eeb;
    border-radius: 5%;
  }

.border {
    /* border: 2px solid black; */
}

input {
    width: 480px;
    height: 70px;
    background-color: rgb(36, 70, 103);
    border-radius: 5%;
    color: white;
    font-size: 20px;
}